/* ============================================================
  SECTIONS
============================================================ */
.weatherContain{
opacity: .7;
}


.info-bar {
    padding-bottom: 30px;
}

.jumbotron {
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 40px;
    color: black;
    background-image: url("../img/demo/clouds.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.searchField {
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
}

section.module p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}

section.module p:last-child {
    margin-bottom: 0;
}

section.module.content {
    padding: 40px 0;
    background-color: black;
}

section.module.parallax {
    padding: 240px 0;
    background-position: 0 0;
}

section.module.parallax h1 {
    color: #1e1e1e;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px white;
}

section.module.parallax-1 {
    background-image: url("../img/demo/vacation1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

section.module.parallax-2 {
    background-image: url("../img/demo/mountains.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

section.module.parallax-3 {
    background-image: url("../img/demo/rain.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

@media all and (min-width: 600px) {
    section.module h2 {
        font-size: 42px;
    }
    section.module p {
        font-size: 20px;
    }
    section.module.parallax {
        padding: 300px 0;
    }
    section.module.parallax h1 {
        font-size: 96px;
    }
}

@media all and (min-width: 960px) {
    section.module.parallax h1 {
        font-size: 160px;
    }
}
